<div class="col-md-12">
	<div class="row">
		<h4>
			更新履歴
		</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				2014/5/26
			</div>
			<div class="panel-body">
				<ul>
					<li>サイト名を「Risker」に統一しました。</li>
					<li>
						HowToブログの設立しました。<br>
						<small>Riskerの使い方、リスク管理に関してはブログを更新していきます。</small>
					</li>
					<li>
						Risker用のTwitterアカウントを作成しました。<br>
						<small>更新内容、感想や改善要望等の応対はこちらへ。</small>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				2014/5/23
			</div>
			<div class="panel-body">
				<ul>
					<li>
						パスワードを忘れた際にリセットが行えるようにしました。<br>
						これに伴い、利用規約の個人情報の取扱いについて改訂しました。
					</li>
				</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				2014/5/20
			</div>
			<div class="panel-body">
				<ul>
					<li>プロジェクト、リスク、問題点/対策案の削除の追加</li>
				</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				2014/5/19
			</div>
			<div class="panel-body">
				<ul>
					<li>他のユーザーのページで作成ボタンが出てしまっている問題を修正</li>
					<li>
						リスクのページに「リスクを最新の状態にする」ボタンを追加<br>
						<small>Check対象のリスクの内容が特に変更無い場合に、経過観察として使用します</small>
					</li>
					<li>
						問題点に重み付けを追加してリスクの優先度を設けた<br>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>