<div class="col-md-12">
	<div class="row">
		<h4>
			更新履歴
		</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				2014/5/19
			</div>
			<div class="panel-body">
				<ul>
					<li>他のユーザーのページで作成ボタンが出てしまっている問題を修正</li>
					<li>
						リスクのページに「リスクを最新の状態にする」ボタンを追加。<br>
						<small>Check対象のリスクの内容が特に変更無い場合に、経過観察として使用します。</small>
					</li>
					<li>
						問題点に重み付けを追加してリスクの優先度を設けた<br>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>