<div class="col-md-12">
	<div class="row">
		<div class="jumbotron">
				<h1>リスカ（仮</h1>
				<p>
					Web上で行うリスク管理<br>
					<small>
						あなたのリスク管理のPDCAサイクルをサポートし、<strong>最小の時間</strong>で<strong>最大の効果</strong>を引き出します。
					</small>
				</p>
				<p><a href="<%= signup_path %>" class="btn btn-primary btn-lg">登録してはじめる</a></p>
		</div>
	</div>
	<div class="row">
		<h4>お知らせ</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				「リスカ（仮」は現在作成中のサイトです。
			</div>
			<div class="panel-body">
				<ul class="list-unstyled">
					<li>
						ご意見、ご感想がありましたらtwitter上で「#リスカ仮」でポストください。<br>
						<small><small>※ ご意見、ご感想は今後のやる気に大きく繋がっていきます。</small></small>
					</li>
					<li>
						本サイトの正式名称も募集しています。
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<h4>
			開発に関する今後のロードマップ
			<small>更新履歴は<a href="<%= history_path %>">こちら</a></small>
		</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				機能追加
			</div>
			<div class="panel-body">
				<ul>
					<li>プロジェクト、リスク等の削除機能の追加</li>
					<li>ユーザーIDと表示名を別管理する</li>
					<li>パスワードを忘れた時の対処の追加</li>
				</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				バグ修正
			</div>
			<div class="panel-body">
				<ul>
				</ul>
			</div>
		</div>
	</div>
</div>