<div class="panel panel-default">
	<div class="panel-heading">
		<h2>アクセスが集中しています</h2>
	</div>
	<div class="panel-body">
		<p>
			アクセスが集中しているためメール送信が行えませんでした。<br>
			大変申し訳ありませんが、5分程時間を置いて再アクセスして下さい。
		</p>
	</div>
</div>
