<div class="panel panel-default">
	<div class="panel-heading">
		<h2>無効か又は期限が切れています</h2>
	</div>
	<div class="panel-body">
		<p>
			再度アドレスを確認してアクセスをして下さい。<br>
			又は、再度パスワードリセットのメールを受け取りアクセスをして下さい。
		</p>
	</div>
</div>
