<div class="panel panel-default">
	<div class="panel-heading">
		<h2>リセット用のメールを送信しました</h2>
	</div>
	<div class="panel-body">
		<p>
			メールの送信が完了しました。<br>
			メールを確認頂きパスワードのリセットを行って下さい。
		</p>
	</div>
</div>
