<div class="panel panel-default">
	<div class="panel-heading">
		<h2>パスワードのリセット完了</h2>
	</div>
	<div class="panel-body">
		<p>
			パスワードのリセットが完了しました。<br>
			<a href="<%= signin_path %>">ログイン</a>ページでログインを行って下さい。
		</p>
	</div>
</div>
