
<div class="modal fade" id="modal_policy" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">サービス利用規約</h4>
			</div>
			<div class="modal-body">
				<h5>サービスのご利用について</h5>
				<p>本サービスは現在作成中のものです。次について十分にご理解下さい。</p>
				<ul>
					<li>登録したデータは予期せぬ問題で利用できなくなる場合があります。</li>
					<li>利用中にエラーが発生し、以降の操作を受け付けなくなる場合があります。</li>
				</ul>

				<h5>個人情報の扱いについて</h5>
				<p>
					作成中版の本サービスにおいて個人情報の収集は行っておりません。<br>
					本サービスの利用にあたり、個人情報を入力した事で発生した問題につきましては、運営者は責任を負いかねます。
				</p>

				<h5>登録したデータの保護について</h5>
				<p>
					本サービスに投稿したデータは、他の利用者にも閲覧が可能となります。<br>
					<strong>利用者自身でデータの符丁化を行う等して、本人ならびに第三者の権利、利益などの侵害を行わないように努めて下さい。</strong><br>
					本サービスは利用者本人ならびに第三者に生じた損失に対しては、一切責任を負いませんのでご理解下さい。
				</p>

				<h5>サービス利用にあたっての遵守事項</h5>
				<p>本サービスのご利用に際して、以下の行為を禁止いたします。以下の行為が発覚した場合、通知をせずにアカウント及び投稿を削除するものとします。</p>
				<ul>
					<li>社会規範・公序良俗に反するもの、他人の権利を侵害するもの、または他人の迷惑となるようなものを、投稿する行為</li>
					<li>サーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
					<li>ほかの利用者のIDを使用してサービスを利用する行為</li>
					<li>他人からIDやパスワードを入手したり、他人にIDやパスワードを開示したり提供したりする行為</li>
					<li>本サービスを利用しての反社会的勢力に直接・間接に利益を提供する行為</li>
				</ul>

				<h5>利用規約の改訂について</h5>
				<p>利用規約は提供するサービスの機能追加により必要に応じて改訂することがあります。</p>

				<div class="pull-right">
					<p>発行日 2014年5月17日</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default modal-cancel" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>
