<%
# 必要パラメータ
# :risk リスクモデルのインスタンス
%>
<li class="list-group-item">
	<ul class="list-inline">
		<li><%= render "risks/risk_status_state", risk: risk %></li>
		<li><%= render "risks/risk_status_check_cycle", risk: risk %></li>
		<li><%= render "risks/risk_status_watch_over", risk: risk %></li>
	</ul>
</li>