<ul class="nav nav-pills nav-stacked">
	<li class="active">
		<a href="#">
			UserName
		</a>
	</li>
	<li>
		<a href="#">
			<span class="glyphicon glyphicon-pencil"></span>
			My プロジェクト
		</a>
	</li>
	<li>
		<a href="#">
			<span class="glyphicon glyphicon-eye-open"></span>
			My リスク
		</a>
	</li>
</ul>